@use 'variables' as *;

.site-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
	min-width: 15.625rem;
    background-color: $brand-color-light;
}