@use 'variables' as *;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.site-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
	min-width: 15.625rem;
    background-color: $brand-color-light;
    .logo {
        width: fit-content;
        font-family: $font-headings;
        font-weight: 800;
        text-decoration: none;
        color: $text-color;
        font-size: 1.8rem;
        &:visited {
            color: white;
        }
    }
    .hamburger-menu {
        margin: 1rem 0rem 1.5rem 0;
        display: block;
        width: 2.5rem;
        background-color: transparent;
        border: none;
        padding:0;
        &-content {
            display: block;
            height: 24px;
            cursor: pointer;
        }
        & .bar {
            display: block;
            height: 4px;
            background-color: #000000;
            width: 100%;
            top: 10px;
            position: relative;
            transition: all 0.3s ease-in-out;
            &:before {
                content: "";
                height: 4px;
                background-color: #000000;
                width: 100%;
                position: absolute;
                top: 10px;
                left: 0;
                transition: all 0.3s ease-in-out;
            }
            &:after {
                content: "";
                height: 4px;
                background-color: #000000;
                width: 100%;
                position: absolute;
                top: -10px;
                left: 0;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    #main-navigation {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        a {
            text-decoration: none;
            padding: 0.2rem 1rem;
            display: block;
            border-right: none;
            color: #000;
            line-height: 40px;
            text-align: center;
            font-size: 1.2rem;
            font-family: $font-headings;
            font-weight: 600;
            &:hover {
                color: #fff;
                background-color: var(--brand-color-light);
                padding: 0.2rem 1rem;
            }
            &:active {
                color: #fff;
                background-color: var(--brand-color-light);
                padding: 0.2rem 1rem;
            }
            &:focus {
                color: #fff;
                background-color: var(--brand-color-light);
                padding: 0.2rem 1rem;
            }
            
        }
    }
    nav.activated {
        transition: height 0.3s ease, visibility 0s 0.3s;
    }
}

.show {
    .site-header .hamburger-menu .bar {
        background-color: transparent;
        &:before {
            top: 0;
            transform: rotate(45deg);
        }
        &:after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
    #main-navigation {
        transition: height 0.3s ease, visibility 0s;
        visibility: visible;
        height: 240px;
    }

}

