@use 'variables' as *;

.articles-wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.small-articles {
    display: block;
	max-width: 30rem;
	margin: $pad;

	text-decoration: none;
	color: #000;
	box-shadow: 0 2px 3px 3px $brand-color-light;
	border-radius: 8px;

	overflow: hidden;
    
    &:hover,
    &:active,
    &:focus {
        transform: scale(1.05);
        color: var(--brand-color);
        text-decoration: none;
    
    }
}

.articles-wrapper {
    img {
        width: $one-col;
        height: 20rem;
        object-fit: cover;
        object-position: center;
    }
}

.text-wrapper {
	padding: $pad-half;
    h2 {
        margin-top: 0
    }
}

@media (min-width: 50em) {

	main {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}

	.main-article {
		grid-column: 1/3;
	}

	.articles-wrapper{
		$pad: 2rem;
		max-width: 100%;
		gap: $pad;
		grid-template-columns: 1/2;
		grid-template-rows: 3/4;
		padding: $pad;
	}

	.small-articles {
		width: $three-col;
		max-width: 26rem;
		min-width: 18rem;
		margin: 0;
	}
}



