$brand-color: #0A69DA;
$brand-color: #679ad9;
$text-color: #000000;

/* Layout Variables */
$pad: 1rem;
$pad-half: 0.5rem;

/* Font-Stacks*/
$font-body: Arial, Helvetica, sans-serif;
$font-headings: Georgia, serif;

/* Grid Variables */
$one-col: 100%;
$two-col: 49%;
$three-col: 32%
