@use "header";
@use "main-article";
@use "small-articles";
@use "aside-section";
@use "footer";
@use "variables";


html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Typography */
  body {
    line-height: 1.5;
    font-family: var(--font-body);
  }
  
  h1,
  h2,
  h3,
  h4,
  nav a {
    font-family: var(--font-headings);
  }
  
  h1 {
      font-size: 2.5rem;
  }
  