:root {
    --brand-color:  #3470be;
    --bg-color:  white;
    --text-color:  black;
    --base-width:  80%;
    --one-col:  100%;
    --two-col:  49%;
    --three-col:  32%;
    --four-col:  23.5%;
    --space:  calc(30 / 16);
    --pad:  calc(var(--space) * 1rem);
    --pad-half:  calc(var(--pad) / 2);
    /* --font-body:  */
    --font-headings: Georgia, serif;

}

main {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--bg-color, white);
    color: var(--text-color, black);
    width: var(--base-width);
    flex: 1 1 0%;
    padding: var(--pad-half);
    border-radius: 0 0 var(--pad-half) var(--pad-half);
}

.articles-wrapper{
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--pad);
    /* grid-template-columns: repeat(3, 1fr); */
}
.small-articles {
    --pad:  8px;
    position: relative;
    width: var(--three-col);
    margin: 0px;
    padding: var(--pad);
    border: 2px solid var(--brand-color);
}