/* Layout Variables */
/* Font-Stacks*/
/* Grid Variables */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.site-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  min-width: 15.625rem;
  background-color: #679ad9;
}
.site-header .logo {
  width: fit-content;
  font-family: Georgia, serif;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
}
.site-header .logo:visited {
  color: white;
}
.site-header .hamburger-menu {
  margin: 1rem 0rem 1.5rem 0;
  display: block;
  width: 2.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
}
.site-header .hamburger-menu-content {
  display: block;
  height: 24px;
  cursor: pointer;
}
.site-header .hamburger-menu .bar {
  display: block;
  height: 4px;
  background-color: #000000;
  width: 100%;
  top: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.site-header .hamburger-menu .bar:before {
  content: "";
  height: 4px;
  background-color: #000000;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.site-header .hamburger-menu .bar:after {
  content: "";
  height: 4px;
  background-color: #000000;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.site-header #main-navigation {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.site-header #main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-header #main-navigation a {
  text-decoration: none;
  padding: 0.2rem 1rem;
  display: block;
  border-right: none;
  color: #000;
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-family: Georgia, serif;
  font-weight: 600;
}
.site-header #main-navigation a:hover {
  color: #fff;
  background-color: #679ad9;
  padding: 0.2rem 1rem;
}
.site-header #main-navigation a:active {
  color: #fff;
  background-color: #679ad9;
  padding: 0.2rem 1rem;
}
.site-header #main-navigation a:focus {
  color: #fff;
  background-color: #679ad9;
  padding: 0.2rem 1rem;
}
.site-header nav.activated {
  transition: height 0.3s ease, visibility 0s 0.3s;
}

.show .site-header .hamburger-menu .bar {
  background-color: transparent;
}
.show .site-header .hamburger-menu .bar:before {
  top: 0;
  transform: rotate(45deg);
}
.show .site-header .hamburger-menu .bar:after {
  top: 0;
  transform: rotate(-45deg);
}
.show #main-navigation {
  transition: height 0.3s ease, visibility 0s;
  visibility: visible;
  height: 240px;
}

@media (min-width: 50em) {
  .site-header .hamburger-menu {
    display: none;
  }
  .site-header #main-navigation {
    width: fit-content;
    height: auto;
    visibility: visible;
  }
  .site-header #main-navigation ul {
    display: flex;
  }
  .site-header #main-navigation a {
    color: #000000;
  }
  .site-header #main-navigation a:hover {
    padding: 0.2rem 1rem;
  }
}
main {
  background-color: white;
  color: #000000;
  max-width: 1920px;
  padding: 1rem;
}

.main-article {
  width: 100%;
  margin: 0 auto 3rem;
  padding: 1rem 0;
  border-bottom: double #679ad9;
}
.main-article a,
.main-article a:visited {
  text-decoration: none;
  color: #000000;
}
.main-article:hover, .main-article:active, .main-article:focus {
  text-decoration: underline;
}
.main-article img {
  display: block;
  border-radius: 8px;
}

.main-article-text h2 + p {
  font-size: 1.2rem;
}
.main-article-text p ~ p > svg {
  width: 2rem;
  vertical-align: middle;
}
.main-article-text li {
  color: var(--brand-color);
}
.main-article-text a[href="#"] > h3 {
  font-size: 1rem;
}

@media (min-width: 62.5em) {
  .main-article {
    display: flex;
    flex-direction: row;
    grid-column: 1/3;
  }
}
.articles-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-articles {
  display: block;
  max-width: 30rem;
  margin: 1rem;
  text-decoration: none;
  color: #000;
  box-shadow: 0 2px 3px 3px #679ad9;
  border-radius: 8px;
  overflow: hidden;
}
.small-articles:hover, .small-articles:active, .small-articles:focus {
  transform: scale(1.05);
  color: var(--brand-color);
  text-decoration: none;
}

.articles-wrapper img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

.text-wrapper {
  padding: 0.5rem;
}
.text-wrapper h2 {
  margin-top: 0;
}

@media (min-width: 50em) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .main-article {
    grid-column: 1/3;
  }
  .articles-wrapper {
    max-width: 100%;
    gap: 2rem;
    grid-template-columns: 1/2;
    grid-template-rows: 3/4;
    padding: 2rem;
  }
  .small-articles {
    width: 32%;
    max-width: 26rem;
    min-width: 18rem;
    margin: 0;
  }
}
footer {
  padding: 0.3rem 1rem;
  background-color: #679ad9;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer a:hover, footer a:active, footer a:focus {
  text-decoration: underline;
}
footer nav ul {
  list-style: none;
  padding: 0 0.3rem;
}
footer nav li {
  padding: 0.3rem;
}
footer p {
  padding-top: 1.5rem;
  font-size: 0.8rem;
}

.social-media li {
  display: inline-block;
}
.social-media svg {
  width: 2.5rem;
  height: 2.5rem;
}

.footer-links {
  border-top: 1px solid black;
}

@media (min-width: 50em) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-links {
    border-top: none;
  }
}

/*# sourceMappingURL=styles.css.map */
