/* Global Variables */
:root {
  --bg-color: white;
  --text-color: black;

  --base-width: 90%;

  /* Layout Variables */
  --space: calc(30 / 16);
  --pad: calc(var(--space) * 1rem);
  --pad-half: calc(var(--pad) / 2);

  /* Font-Stacks	*/
  --font-body: "Libre Franklin", sans-serif;
  --font-headings: "Cormorant Garamond", serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography */
body {
  line-height: 1.5;
  font-family: var(--font-body);
}

h1,
h2,
h3,
nav a {
  font-family: var(--font-headings);
}


/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Elements
--------------------------------------------- */


/* Links
--------------------------------------------- */



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

:root {
    --brand-color: #0A69DA;
    --brand-color-light: #679ad9;
	--pad: 1rem;
	--pad-half: .5rem;

	/* Grid Variables */
	--one-col: 100%;
	--two-col: 49%;
	--three-col: 32%;
	--four-col: 23.5%;
}

/* Header (Navigation bar)
--------------------------------------------- */
.site-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--brand-color)
}

.logo {
    width: fit-content;
}

.logo {
    text-decoration: none;
    color: var(--brand-color);
    font-size: 1.8rem;
}

a.logo:visited {
    color: var(--brand-color);
}

.hamburger-menu {
    margin: 1rem 0rem 1.5rem 0;
	display: block;
	width: 2.5rem;
	background-color: transparent;
	border: none;
	padding:0;
}

.hamburger-menu-content {
	display: block;
	height: 24px;
	cursor: pointer;
}

.hamburger-menu .bar {
	display: block;
	height: 4px;
	background-color: #000000;
	width: 100%;
	top: 10px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.hamburger-menu .bar:before {
	content: "";
	height: 4px;
	background-color: #000000;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.hamburger-menu .bar:after {
	content: "";
	height: 4px;
	background-color: #000000;
	width: 100%;
	position: absolute;
	top: -10px;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.show .bar {
	background-color: transparent;
}

.show .bar:before {
	top: 0;
	transform: rotate(45deg);
}

.show .bar:after {
	top: 0;
	transform: rotate(-45deg);
}


#main-navigation {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

nav.activated {
	transition: height 0.3s ease, visibility 0s 0.3s;
}

.show #main-navigation {
	transition: height 0.3s ease, visibility 0s;
	visibility: visible;
	height: 200px;
}

#main-navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#main-navigation a {
	text-decoration: none;
	padding: 0 10px;
	display: block;
	border-right: none;
	color: #000;
	line-height: 40px;
	text-align: center;
    font-size: 1.2rem;
}

#main-navigation a:hover,
#main-navigation a:active,
#main-navigation a:focus {
  color: var(--brand-color-light);
}


/* Main
--------------------------------------------- */


.main-article {

}

.articles-wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.small-articles {
	--brand-color-light:#679ad98c; 

	max-width: 30rem;
	margin: var(--pad);

	text-decoration: none;
	color: #000;
	box-shadow: 0 2px 3px 3px var(--brand-color-light);
	border-radius: 8px;

	overflow: hidden;
}

.small-articles:hover {
	transform: scale(1.05);
	color: var(--brand-color);
}

.articles-wrapper img {
	width: var(--one-col);
	height: 20rem;
	object-fit: cover;
	object-position: center;
}

.text-wrapper {
	padding: var(--pad-half);
}

.text-wrapper h2{
	margin-top: 0;
}

@media (min-width: 50rem) {

	.articles-wrapper{
		--pad: 2rem;
		max-width: 90%;
		gap: var(--pad);
	}

	.small-articles {
		width: var(--three-col);
		margin: 0;
	}
}



/* Sidebar */
aside {
	padding: 1rem;
	max-width: 25rem;
}

aside article {
	margin-bottom: 2rem;
}

aside h3 {
	color: var(--brand-color)
}

h3 + p > svg {
	fill: var(--brand-color-light)
}

aside p > a {
	text-decoration: none;
	color: var(--brand-color)
}

aside p > a:hover,
aside p > a:active,
aside p > a:focus {
	color: var(--brand-color-light);
}

aside p > a:hover {
	transition: all 0.5s;
	font-size: 1.3rem;
}

aside li {
	color: var(--brand-color)
}

aside ul a {
	text-decoration: none;
	color: #000;
}

aside ul a:hover {
	color: var(--brand-color-light)
}





/* Footer
--------------------------------------------- */
.site-footer {
  padding: .3rem 1rem;
  background-color: var(--brand-color-light);
}

.site-footer ul {
  list-style: none;
}

.site-footer li {
  padding: .3rem;
}

.site-footer p {
  padding-top: 2rem;
  font-size: .8rem;
}

.social-media li {
  display: inline-block;
  padding: .8rem;
}

.social-media svg {
  width: 2.5rem;
  height: 2.5rem;
}

.footer-links {
  border-top: 1px solid black;
}

@media (min-width: 50rem){
  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links {
    border-top: none;
  }
}


